h1 {
    color: white; font-family: "Times New Roman"; text-align: center;
}
h2 {
    color: white; font-family: "Arial";
}
p{  color: white; font-size:"20pt";}
body  {
    background-image: url('fff.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}