h1 {
  font-family: "Times New Roman"; text-align: center;
}
h2 {
    color: #ffcc00; font-family: "Palatino Linotype";
}
ul{  color: white; font-size:"60";  font-family: "Comic Sans MS", cursive, sans-serif;}
body  {
    background-image: url('fff.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{  color: white; font-size:"60pt";  font-family: "Comic Sans MS", cursive, sans-serif;}